$font-size-base: 2rem;

$body-bg:                   #2E3440;
$body-color:                #ECEFF4;
$input-bg:                              #3B4252;
$input-disabled-bg:                     #3B4252;
$input-border-color:                    rgba(0, 0, 0, 0.1);

$list-group-bg:                     #3B4252;

@import "bootstrap/scss/bootstrap";